* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(185, 75%, 39%);
}

h1 {
  font-size: 18px;
  display: inline;
  font-weight: 700;
}

h2 {
  font-size: 14px;
  color: #6b7082;
  font-weight: 300;
  padding-top: 12px;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.App {
  font-family: "Kumbh Sans", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  text-align: center;
  border-radius: 8px;
  z-index: 2;
}

.info {
  display: flex;
  justify-content: space-evenly;
  padding: 22px 18px 0 5px;
  border-top: 1px solid #e8e9ec;
}

.age {
  color: #6b7082;
  padding-left: 10px;
}

.topCircle,
.bottomCircle {
  position: absolute;
  z-index: 1;
}

.header {
  background-image: url(./images/bg-pattern-card.svg);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 140px;
}

.photo {
  padding-top: 88px;
}

.image {
  border-radius: 50%;
  border: 5px solid #fff;
  background: #fff;
}

.profile {
  margin: 40px 0 15px;
  padding: 30px 0 12px;
}

.number {
  font-size: 18px;
  font-weight: 700;
}

.category {
  padding-top: 9px;
  font-size: 10px;
  color: #6b7082;
  letter-spacing: 2px;
}

@media (min-width: 1025px) {
  .App {
    height: 100vh;
    width: 100vw;
    background: url(./images/bg-pattern-top.svg) no-repeat right 717px bottom
        322px,
      url(./images/bg-pattern-bottom.svg) no-repeat left 705px top 408px;
  }

  .container {
    width: 350px;
    height: 374px;
  }

  .topCircle {
    top: -540px;
    left: -300px;
  }

  .bottomCircle {
    bottom: -650px;
    right: -275px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .App {
    height: 100vh;
    width: 100vw;
    background: url(./images/bg-pattern-top.svg) no-repeat right 300px bottom
        560px,
      url(./images/bg-pattern-bottom.svg) no-repeat left 285px top 550px;
  }

  .container {
    width: 350px;
    height: 374px;
  }

  .topCircle {
    top: 0;
    left: 0;
  }

  .bottomCircle {
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .App {
    height: 100vh;
    width: 100vw;
    background: url(./images/bg-pattern-top.svg) no-repeat right 170px bottom
        260px,
      url(./images/bg-pattern-bottom.svg) no-repeat left 135px top 290px;
  }

  .circle img {
    width: 622px;
    height: 621px;
  }

  .container {
    width: 326px;
    height: 374px;
  }

  .topCircle {
    top: -300px;
    left: -400px;
  }

  .bottomCircle {
    bottom: -315px;
    right: -412px;
  }
}
